@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #7d2ae8;
}

.popup{
    position: absolute;
    top: 50%;
    left: 50%;
    background: #fff;
    padding: 25px;
    border-radius: 15px;
    max-width: 380px;
    width: 100%;
    transform: translate(-50%, -50%) scale(1.6);
}

.popup header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 15px;
    border-bottom: 1px solid #ebedf9;
}

header span{
    font-size: 21px;
    font-weight: 600;
}

header .close{
    color: #878787;
    height: 33px;
    width: 33px;
    background: #f2f3fb;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
}